.history {
    
    ul {
        list-style-type: none;
        text-align: center;
       
        li {
            font-size: large;
        }
    }

    span.url {
        padding-left: 30px;
    }
}